. {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    margin: 0px;
    background: #fcfcfc;
    font-family: Sans, "sans-serif";
    font-weight: 500;
    align: center;
}
.header {
    width: 50%;
    margin: 10px auto;
}
a {
    color: #1263ac;
    text-decoration: none;
}
h2, h3 {
    font-weight: normal;
}
.appnamehead {
    background: -webkit-linear-gradient(left, white , #cedff2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white , #cedff2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white , #cedff2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, white , #cedff2); /* Standard syntax */
    box-shadow: 0px 10px 10px #888888;
}
.appname {
    position:relative;
    width: 50%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    overflow:hidden;
} 
.appname a {
    color: #1263ac;
    font-family: monospace;
    font-size: 220%;
    padding: 10px;
    text-shadow: 5px 5px 5px lightgray;
}
.appname span {
    color: black;
    padding: 10px;
    font-size: 18px;
    float: right;
}
.appname img {
    padding-left: 10px;
    float: right;
}
.appsubname {
    color: #1263ac;
    font-family: monospace;
    font-size: 130%;
}
.contents {
    margin: 10px;
    float: left;
    width: 72%;
    top: 7%;
}
.paratitle {
    padding: 5px;
    font-size: 150%;
    font-family: Sans, "Sans-Serif";
    border-bottom: 0.5px dotted lightblue;
}
.sidebar {
    border-left: 1px dotted;
    padding-left: 10px; 
    width: 23%;
    margin: 10px;
    float: right;
}
.dottedline {
    margin: 10px;
    float: right;
    border-bottom: 1px solid blue;
}
.conttable {
    border: 2px solid lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    text-align: left;
    tr {
	color: #02a9c0;
    }
    a {
	color: #1263ac;
	text-decoration: none;	
    }
}
.level1 { 
    padding-left: 20px;
}
.level2 { 
    padding-left: 30px;
}
.lastrevised {
    border: 0.5px dotted lightgray;
    padding: 10px;
    font-size: 12px;
    float: right;
}
.release {
    padding: 5px;
}
.releasefiles {
    align: center;
    width: 100%;
    padding: 5px;
}
.releasenotes {
    padding: 10px;
}
.files {
    display: block;
    background: lightgreen;
    padding: 10px;
    width: 50%;
    border: 1px solid lightgray;
    text-align: center;
    margin: 10px;
}
.footer {
    font-size: 12px;
    padding: 10px;
    border-top: solid 1px; 
    width: 100%;
    float: left;
}
section h2 {
    color: #1263ac;
}
section p {
    padding-left: 10px;
    font-family: sans-serif;
    font-style: normal;
}
.code {
    font-size: 14px;
    font-family: monospace;
    color: navy;
    padding: 10px;
    border: 1px dotted lightblue;
}
.comment {
    color: green;
}
.alert {
    margin: 0px auto;
    text-align: center;
    border: 1px dotted red;
    padding: 5px;
    color: red;
    //position: fixed;
    //height: 2%;
    //top: 98%;
    //left: 0px;
    //right: 0px;
    //bottom: 0%;    
}