body {
    background: #fafafa;
    display: table;
    font-family: "sans-serif";
    font-size: 14px;
    margin: 0px;
    word-wrap: break-word;
}
.appname {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.appname a {
    color: #1263ac;
    display: block;
    font-family: monospace, courier;
    font-size: 22px;
    padding: 10px;
}
.appsubname {
    color: #1263ac;
    font-family: monospace, courier;
}
.leftsidebar {
    display: table-cell;
    font-size: 12px;
    min-width: 140px;
    padding: 10px;
    width: 10%;
}
.header {
    border-left: 1px solid lightblue;
    display: table-cell;
    padding: 10px;
    position: relative;
}
.conttable {
    text-align: left;
}
.conttable a {
    color: #1263ac;
    text-decoration: none;
}
.conttable tr {
    color: #02a9c0;
}
a {
    color: #1263ac;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.contents {
    margin: 10px;
}
section {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}
section span {
    border-bottom: 1px dotted blue;
    color: #1263ac;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
}
section p {
    padding-left: 10px;
}
.level2 {
    padding-left: 10px;
}
.code {
    border: 1px dotted lightblue;
    color: navy;
    font-family: monospace, courier;
    font-size: 14px;
    padding: 10px;
}
.comment {
    border: none;
    color: green;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.alert {
    border: 1px dotted red;
    color: red;    
    padding: 5px;
}
.footer {
    border-top: 1px solid lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.lastrevised {
    float: right;
}