body {
    font: 20px Helvetica, Sans-serif, Arial;
    text-decoration: none;
    width: 70%;
    min-width: 500px;
    margin: 0px auto;
    padding: 0px;
}
a {
    font: 20px Helvetica, Sans-serif, Arial; 
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}
.wrapper {
    border-radius: 10px; 
    background: #f0f5ff; 
    margin: 5px;
}
.page-content-header {
    text-align: center;
    font-size: 25px;
    color: #3388ac;
    font-weight: bold;
}
.page-content-sub-header {
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
}
.lib-name-font {
    font-family: Monospace, Courier;
}
.page-contents-value {
    padding: 10px;
    min-height: 300px;
}
.code {
    border: 1px dotted lightblue;
    color: navy;
    font-family: monospace, courier;
    padding: 10px;
    margin: 10px;
}
.inline_code {
    color: navy;
    font-family: monospace, courier;
    padding: 10px;
}
.comment {
    border: none;
    color: green;
    margin: 0px;
    padding: 0px;
}
.author {
    color: grey;
    font-size: 14px;
    font-weight: normal;
}